services:
  backend:
    env_file: .env
    environment:
      - PYTHONUNBUFFERED=1
    build:
      context: .
      dockerfile: backend.Dockerfile
    command: >
      python -m debugpy
      --listen 0.0.0.0:5678
      --wait-for-client
      manage.py runserver 0.0.0.0:8000
    ports:
      - "8001:8000"
      - "5678:5678"
    volumes:
      - .:/app
      - videoflix_media:/app/media
      - videoflix_static:/app/static
    depends_on:
      - db
      - redis

  db:
    image: postgres:latest
    container_name: videoflix_database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    container_name: videoflix_redis
    volumes:
      - redis_data:/data

  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
    env_file: .env
    container_name: videoflix_backend

    volumes:
      - .:/app
      - videoflix_media:/app/media
      - videoflix_static:/app/static
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
      - redis
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --reload
    ## command später löschen




volumes:
  postgres_data:
  redis_data:
  videoflix_media:
  videoflix_static:
