<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        p {
            color: rgb(59, 59, 59);
        }
    </style>

</head>

<body>
    <p>Hallo,</p>
    <p>We recently received a request to reset your password. If you made this request, please click on the following
        link to reset your password:</p>
    <div class="button" style="margin: 32px 0">
        <a href="{{ reset_link }}" style="text-decoration: none;
            padding: 8px 12px;
            border-radius: 20px;
            background-color: rgb(48, 48, 173);
            color: white;
            font-size: 20px;">Reset Password</a>
    </div>

    <p>Please note that for security reasons, this link is only valid for 24 hours</p>
    <p>If you did not the request a password reset, please ignore this email</p>
    <p>Best regards,</p>
    <p>Your Videoflix</p>
    <a href="https://videoflix.bence-cservenyak.com/"><img src="https://bence-cservenyak.com/videoflix/logo_icon.png"
            alt="logo" width="200"></a>

</body>

</html>